<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "PhoenixAngular · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
    <base href="/">
  </head>
  <body>
    <app-root></app-root>

    <script src="<%= Routes.static_path(@conn, "/frontend/runtime-es2015.js") %>" type="module"></script>
    <script src="<%= Routes.static_path(@conn, "/frontend/runtime-es5.js") %>" nomodule defer></script>
    <script src="<%= Routes.static_path(@conn, "/frontend/polyfills-es5.js") %>" nomodule defer></script>
    <script src="<%= Routes.static_path(@conn, "/frontend/polyfills-es2015.js") %>" type="module"></script>
    <script src="<%= Routes.static_path(@conn, "/frontend/styles-es2015.js") %>" type="module"></script>
    <script src="<%= Routes.static_path(@conn, "/frontend/styles-es5.js") %>" nomodule defer></script>
    <script src="<%= Routes.static_path(@conn, "/frontend/vendor-es2015.js") %>" type="module"></script>
    <script src="<%= Routes.static_path(@conn, "/frontend/vendor-es5.js") %>" nomodule defer></script>
    <script src="<%= Routes.static_path(@conn, "/frontend/main-es2015.js") %>" type="module"></script>
    <script src="<%= Routes.static_path(@conn, "/frontend/main-es5.js") %>" nomodule defer></script>


    <script src="<%= Routes.static_path(@conn, "/frontend/polyfills.js") %>" type="module"></script>
    <script src="<%= Routes.static_path(@conn, "/frontend/styles.js") %>" type="module"></script>
    <script src="<%= Routes.static_path(@conn, "/frontend/runtime.js") %>" type="module"></script>
    <script src="<%= Routes.static_path(@conn, "/frontend/vendor.js") %>" type="module"></script>
    <script src="<%= Routes.static_path(@conn, "/frontend/main.js") %>" type="module"></script>
  </body>
</html>
